.footer-box {
    height: 8vh;
    background-color:$footer-box-color;
    color: $footer-box-text-color;
    text-align: center;
  }
  
  .footer-box a img {
    max-height: 15px;
    margin-left:.2em;
  }
