/*colors*/
$text-color: #b05404;
$footer-box-color: #000;
$footer-box-text-color: #fff;
$hover: #fb8f30;

/*font - fontsize*/

$navbar-fontsize: 20px;
$aboutme-fontsize: 18px;
$titleinspo-fontsize: 30px;
$title-gallery-fontsize: 50px;
$animate__animated-fontsize:2.5rem;
$subtitle-font-size: 1.8rem;
$content-sub-font-size:1.2rem;

